
body {
  background: grey;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sections {
  margin: 0;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #ffffff;
}

p {
  font-family: Montserrat;
}

.headings {
  margin-bottom: 2.2rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3.9rem;
  transition: 1s ease-out;
  text-decoration: none;
  color: #000000;

}

.headings:hover {
  transform: translate(50px);
  text-decoration: none;
}

/* HEADER */

/* IEEE DAY */
#container{
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  padding-left: 100px;
}
.ieee-photo{
    width:60vmin;
    height:60vmin;
    position: relative;
    margin-top: 2%
}
.hex-photo{
    --h: calc(100% / 3);
  --w: calc(1.15470053838 * var(--h));
  --a: calc(0.28867513459 * var(--h));
  --d: calc(0.57735026919 * var(--h));
  height:var(--h);
  width:var(--w);
  position:absolute;
  list-style-type: none;
}
.ieee-image{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    --aw:24.99999999999%;
    clip-path:polygon(
      var(--aw) 0,
      0 50%,
      var(--aw) 100%,
      calc(100% - var(--aw)) 100%,
      100% 50%,
      calc(100% - var(--aw)) 0
    );
  }
  li:nth-of-type(1) {
    left:calc(50% - var(--a) - var(--d) * 0.5);
    top:0;
  }
  li:nth-of-type(2) {
    left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top:calc(var(--h) * 0.5);
  }
  li:nth-of-type(3) {
    left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top:calc(var(--h) * 1.5);
  }
  li:nth-of-type(4) {
    left:calc(50% - var(--a) - var(--d) * 0.5);
    top:calc(var(--h) * 2);
  }
  li:nth-of-type(5) {
    left:calc(50% + var(--d) * 0.5);
    top:calc(var(--h) * 0.5);
  }
  li:nth-of-type(6) {
    left:calc(50% + var(--d) * 0.5);
    top:calc(var(--h) * 1.5);
  }

.ieee-photo{
    filter:drop-shadow(0 0 10px hsla(0,0%,0%,0.3));
}

li.hex-photo:hover{
    filter:drop-shadow(0 0 10px powderblue);
    z-index:10;
}

.ieee-photo{
  animation:r 4s forwards;
} @keyframes r {
  from {transform:rotate(180deg)}
  to {transform:rotate(0)}
}

.hex-photo {
  animation:ir 4s forwards;
} @keyframes ir {
  from {transform:rotate(-360deg)}
  to {transform:rotate(0)}
}


/* SCHEDULE */
.schedule-tables {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  background: black;
  box-shadow: 0 4px 10px #74756f;
  width: 100%;
  height: fit-content;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  margin-bottom: 2.2rem;
}

#day2 {
  margin-top: 2.2rem;
}

.table-heading {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  color: white;
}

#table-heading2 {
  color: white;
}

#table-heading2:hover{
  text-decoration: none;
  text-shadow: #ffffff 1px 1px 3px;
}

.table-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.sub-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#table1 {
  margin-right: 12rem;
}

.table-subheading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
}

.table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.table-col1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
}

.table-col2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  color: #74756f;
}


/* SPEAKERS */
.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}



/* SPONSORS */
.sponsor-rows {
  display: flex;
  flex-direction: column;
}

.srow {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  background-color: transparent;
  overflow-x: auto;
  overflow-y: hidden;
}

.sponsor-image {
  margin-right: 1.2rem;
  height: 13rem;
}

/* EVENTS */
.event-header {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  background-color: black;
  box-shadow: 0 4px 10px #74756f;
  display: flex;
  flex-direction: row;
  margin-bottom: 3.75rem;
}

.header-content {
  margin-right: 1.25rem;
  margin-left: 1rem;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  color: white;
  padding: 1.125rem 0.125rem 1.125rem 0.125rem;
  margin-bottom: 0;
}

.header-content:hover {
  text-decoration: none;
  text-decoration-thickness: 2px;
  text-shadow: 1px 1px 2px;
}

.event-category {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

#all-event-heading {
  color: white;
}

#all-events-content {
  display: flex;
  flex-direction: row;
}

#thacks-content {
  display: none;
}

#rec-content {
  display: none;
}

.event-images {
  width: 30%;
  margin-right: 3.125rem;
}


/* THEMES AND PRIZES */
.sub-headings {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #151419;
  margin-bottom: 15px;
}

#lower-headers {
  color: white;
}

#lower-headers:hover {
  text-decoration: none;
  text-shadow: #ffffff 1px 1px 3px;
}

/* RESPONSIVE BODY */
@media only screen and (min-device-width : 320px) and (max-device-width : 580px) {
  .sections {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 13px;
  }

  .headings {
    font-size: 3em;
  }

  .schedule-header {
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

  .table-heading {
    font-size: 1.3rem;
  }

  .table-content {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .sub-table{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #table1 {
    margin-right: 2rem;
  }

  .table-subheading {
    font-size: 1.125rem;
    margin-bottom: 0.9rem;
    margin-top: 0.9rem;
  }

  .table-row {
    margin-bottom: 0;
  }

  .table-col1 .table-col2 {
    font-size: 1rem;
  }

  .sponsor-image {
    height: 10rem;
  }

  .event-header {
    margin-bottom: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .header-content {
    margin-right: 0.5rem;
    margin-left: 0;
    font-size: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-bottom: 0;
  }

  .event-images {
    width: 49%;
    margin-bottom: 1rem;
    margin-right: 2%;
  }
}

@media only screen and (min-device-width : 580px) and (max-device-width : 668px) {
.sections{
  margin:4%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-subheading {
  font-size: 1.8rem;
}

.table-content{
  display: grid;
}
.header-content {
  font-size: 1.3rem;
}

.event-images{
  width:45%;
}
}

@media only screen and (min-device-width : 668px) and (max-device-width : 1024px) {
  .sections {
    padding-right: 3rem;
    padding-left: 3rem;
    margin: 0;
  }

  #navigator {
    display: none;
  }

  .schedule-header {
    padding: 1rem 1.3rem 1rem 1.3rem;
  }

  .table-heading {
    font-size: 1.7rem;
  }

  .table-content {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  #table1 {
    margin-right: 5rem;
  }

  .table-subheading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .table-row {
    margin-bottom: 0;
  }

  .table-col1 .table-col2 {
    font-size: 1rem;
  }

  .sponsor-image {
    height: 10rem;
  }

  .event-header {
    margin-bottom: 3rem;
  }

  .header-content {
    font-size: 1.5rem;
  }

  .event-images {
    width: 35%;
  }
}
